body {
  background-color: lightgray;
}

table,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  background-color: whitesmoke;
}

table {
  margin: auto;
  width: 500px;
  border: 2px solid black;
}

th {
  width: 33%;
  border-right: 2px solid black;
}

.allBoarder {
  border: 2px solid black;
}

button {
  padding: 3px;
  margin: 3px;
  width: 40px;
}

input {
  width: 80%;
  text-align: center;
}

textarea {
  width: 100%;
  min-width: max-content;
  max-width: 480px;
}

.koprCeka {
  background-color: whitesmoke;
}

.koprOk {
  background-color: aquamarine;
}

.koprOk_provys {
  background-color: darkkhaki;
}

.koprNg_vys {
  background-color: darkorange;
}

.koprNg_nevys {
  background-color: darkred;
  color: whitesmoke;
}

.breakCell {
  padding: 0px;
  margin: 0px 5px;
}

.breakTable {
  border: none;
  border-top: 1px solid black;
}

.breakMiddle {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
