html,
body {
  margin: 0px;
  height: 100%;
  background-color: lightgray;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: darkslategray;
  border-bottom: 2px solid black;
}

li {
  float: left;
}

li {
  padding: 10px;
  display: block;
  color: whitesmoke;
  text-align: center;
  background-color: darkslategray;
  border-right: 1px solid black;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

li:hover,
a:hover {
  color: black;
  background-color: lightslategray;
}

table,
th,
td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

th {
  font-size: 120%;
  background-color: darkslategrey;
  color: whitesmoke;
}

td {
  padding: 5px;
}

tr {
  background-color: whitesmoke;
}

tr:hover {
  background-color: lightslategray;
}
