html,
body {
  margin: 0px;
  height: 100%;
  background-color: gray;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: darkslategray;
  border-bottom: 2px solid black;
}

li {
  float: left;
  padding: 10px;
  display: block;
  color: whitesmoke;
  text-align: center;
  background-color: darkslategray;
  border-right: 1px solid black;
}

a {
  text-decoration: none;
}

li:hover {
  color: black;
  background-color: lightslategray;
  cursor: pointer;
}

table,
th,
td {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

th {
  font-size: 120%;
  background-color: darkslategrey;
  color: whitesmoke;
}

td {
  padding: 5px;
}

tr {
  background-color: whitesmoke;
}

.highlight > td,
tr:hover > td {
  color: black;
  background-color: lightslategray;
}

li.searchBox {
  float: right;
  padding: 8px;
  background-color: darkslategray;
  border-right: none;
  cursor: auto;
}

label {
  color: whitesmoke;
  margin-right: 5px;
}

.active {
  color: black;
  background-color: aquamarine;
}

.ascending,
.descending {
  color: black;
  background-color: lightslategray;
}

.ascending::after {
  content: " \25b2";
}

.descending::after {
  content: " \25bc";
}
