.koprCeka {
  background-color: whitesmoke;
}

.koprOk {
  background-color: aquamarine;
}

.koprProvys {
  background-color: darkkhaki;
}

.koprNg_vys {
  background-color: darkorange;
}

.koprNg_nevys {
  background-color: darkred;
  color: whitesmoke;
}
